APP_URL="https://sgfesonline.com/"
ADMIN_PASSWORD="SeikyOADmin2026"
VITE_ANNOUNCEMENT_PORTAL_URL="https://script.google.com/a/macros/stu.seikyo.ed.jp/s/AKfycbwsTDpMSe6Kdr1RoQ8TVByVtVVqAZG5q3mSvPmMxhH_SRUx8wZSwJdaKD8qwwphmAgaEg/exec"
VITE_CLASS_CONGESTION_BASE_URL="https://script.google.com/a/macros/stu.seikyo.ed.jp/s/AKfycbw9YPL2B506p_7KNog97UfAaO4JXRYma5HBmzY5MCIguxxzkm_E3e6tIysFdbuS1Jjm9g/exec"
VITE_GAS_CONGESTION_URL="https://docs.google.com/spreadsheets/d/154F3vcdcOSyMc55VbY9qPCey4JtL7mW1pCOWBrDVuZc/edit?gid=0#gid=0"
VITE_ANNOUNCEMENT_SPREADSHEET_URL="https://docs.google.com/spreadsheets/d/1Ajv5ErGHjhIz740IaB-IqhywYkV66dREwOdk7G3EiEg/edit?gid=0#gid=0"
